.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.submit-container{
    text-align: center;
    margin: 100px auto;
}

h1.ui.header{
    font-size: 2rem;
}

button.submit-btn{
    display: inline-block;
    width: 220px;
    height: 38px;
    font-size: 25px;
    background-color: #bbb;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.to-form{
    font-size: 25px;
}

/*admin-dashboard*/
/* #admin-header{
    max-width: 960px;
    margin: 0 auto;
} */
.admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.admin-container a{
    display: inline-block;
    font-size: 25px;
}


@media only screen and (max-device-width: 480px) {
    h1.ui.header{
        font-size: 4rem;
    }

    form.ui.form{
        width: 90%;
    }

    .ui.form input[type=text], .ui.form input[type=password]{
        font-size: 3rem;
    }

    .ui.form .field>label{
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 50px;
    }

    div.ui.select.dropdown.selection{
        font-size: 3rem;
    }

    button.submit-btn{
        width: 500px;
        height: 70px;
        font-size: 50px;
    }

    a.item{
        height: 100px;
        font-size: 40px;
    }

    .success-message{
        font-size: 50px;
        margin-bottom: 100px;;
    }

    .back_to_top{
        font-size: 50px;
    }

    .to-form{
        font-size: 50px;
    }

    .admin-container a{
        font-size: 4rem;
    }

}


