.home-container{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.submit-container{
    text-align: center;
    margin: 100px auto;
}

h1.ui.header{
    font-size: 2rem;
}

button.submit-btn{
    display: block;
    margin: auto;
    width: 300px;
    height: 60px;
    background-color: #babbbc;
    color: rgba(0,0,0,.9);
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

button.submit-btn:hover{
    background-color: #cacbcd;
    color: rgba(0,0,0,0.8);
}

.to-form{
    display: block;
    font-size: 3rem;
    width: 470px;
    height: 80px;
    background-color: #bbb;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

/*admin-dashboard*/
/* #admin-header{
    max-width: 960px;
    margin: 0 auto;
} */
.admin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.admin-container a{
    display: inline-block;
    font-size: 25px;
}

.flex-body{
    display: flex;
    flex-direction: column;
}

.branch_added_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a.to-form:hover{
    color: #fff;
}

.success-message, .back_to_top{
    font-size: 30px;
    line-height: 1.6;
    max-width: 80%;
    text-align: center;
}

.back_to_top{
    margin-top: 50px;
}

form.ui.form{
    width: 90%;
    max-width: 1200px;
}

form.ui.form .field input{
    font-size: 25px;
}

form.ui.form .field select{
    font-size: 25px;
}

form.ui.form .field option{
    font-size: 25px;
}

form.ui.form .field label{
    font-size: 30px;
    line-height: 1.6;
}

div.ui.dropdown.select.selection, div.ui.dropdown.select.selection div.item, div.ui.dropdown.selection, div.ui.dropdown.selection div.item{
    font-size: 25px;
    line-height: 1.6;
}

#start_download{
    display: block;
    margin: auto;
    width: 400px;
    height: 60px;
    background-color: #babbbc;
    color: rgba(0,0,0,.9);
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    .success-message, .back_to_top{
        font-size: 30px;
        max-width: 80%;
        line-height: 1.6;
        text-align: center;
    }

    .back_to_top{
        margin-top: 50px;
    }

    h1.ui.header{
        font-size: 4rem;
    }

    form.ui.form{
        width: 90%;
    }

    .ui.form .field label{
        font-size: 2.5rem;
        line-height: 1.6;
        margin-bottom: 10px;
    }

    .ui.form .field input, .ui.form .field .ui.dropdown.selection,
    .ui.dropdown .menu .item{
        font-size: 3rem;
    }

    button.submit-btn{
        width: 400px;
        height: 80px;
        font-size: 3rem;
    }

}



@media only screen and (max-width: 480px) {
    .to-form{
        width: 90%;
        height: 50px;
        line-height: 50px;
    }

    form.ui.form{
        width: 90%;
    }

    .success-message, .back_to_top{
        font-size: 25px;
        line-height: 1.6;
        text-align: center;
    }

    .back_to_top{
        margin-top: 30px;
    }

    #start_download{
        width: 80%;
        font-size: 25px;
    }

}


