.each_received, .each_sent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 400px;
}

#each_sent_edit, #each_received_edit{
    padding-top: 20px;
}