/*
body{
    max-width: 1000px;
    margin: auto;
    font-size: 20px;
}




@media only screen and (max-width: 480px) {
    body{
        font-size: 40px;
    }
}

*/
body{
    max-width: 1000px;
    margin: auto;
}

button.submit-btn{
    display: inline-block;
    width: 220px;
    height: 38px;
    font-size: 25px;
    background-color: #bbb;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
}

.add_button{
    display: inline-block;
    width: 30px;
    height: 30px;
}

.remove_field, .remove_dc, .remove_jcb{
    display: inline-block;
    width: 20px;
    height: 20px;
}

#send-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 70px;
  color: rgba(0,0,0, .6);
  font-weight: 700;
  background-color: #e0e1e2;
  border-radius: 8px;
  border-radius: .28571429rem;
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  -o-border-radius: .28571429rem;
  font-size: 3rem;
}

#edit-btn{
  display: inline-block;
  width: 100px;
  height: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(0,0,0, .6);
  background-color: #e0e1e2;
  border-radius: .28571429rem;
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  -o-border-radius: .28571429rem;
}

#edit-section-btn{
  display: inline-block;
  width: 300px;
  height: 65px;
  font-size: 2.5rem;
  color: rgba(0,0,0, .6);
  font-weight: 700;
  background-color: #e0e1e2;
  border-radius: 8px;
  border-radius: .28571429rem;
  -webkit-border-radius: .28571429rem;
  -moz-border-radius: .28571429rem;
  -o-border-radius: .28571429rem;
}


.q-container input[type=submit]{
    margin: auto;
}

.page-title{
    text-align: center;
    margin-top: 50px;
}

.q-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.q-container-add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 150px;
}

.confirmation-container{
    padding-top: 50px;
    padding-bottom: 150px;
    width: 90%;
    margin: auto;
    max-width: 1200px;
}


.each-received, .each-sent, .each-client{
    border: 1px solid #ddd;
    margin-top: 20px;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.each-field{
    margin: 15px 10px;
}

.icon-container{
    text-align: right;
}

.add-container{
    margin-top: 10px;
}

.submit-container{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}



.edit-button-container{
    text-align: center;
    margin: 40px auto;
}



.each-ticket, .each-card{
    margin: 15px auto;
}

/* td{

} */

table, td, th{
    border-collapse: collapse;
}

table{
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    border: 2px solid #000;
    margin: 30px auto;
}

td, th{
    border: 1px solid rgb(160, 160, 160);
}

.first-sent{
    border-top: 2px solid #000;
}

.no_client{
    border: 2px solid #000;
    text-align: center;
}

/* .table-cell-no-border{
    border: none;
} */

.row-1{
    display: grid;
    grid-template-columns: 25% 25% 50%;
}

.row-2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.table-2-row-1{
    display: grid;
    grid-template-columns: 50% 25% 25%;
}

.table-2-row-2{
    display: grid;
    grid-template-columns: 10% 30% 30% 30%;
}

.table-2-row-3, .table-2-row-4, .table-2-row-5{
    display: grid;
    grid-template-columns: 10% 15% 15% 15% 15% 15% 15%;
}

.null{
    background-color: #ddd;
}

.client-row{
    display: grid;
    grid-template-columns: 50% 50%;
}

.table-title{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}

.dc-each-row{
    display: grid;
    grid-template-columns: 1fr;
}

.dc-total{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 2px solid #000;
}

.paypay{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cell-center{
    text-align: center;
}

.other-total{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.send-data{
    display: block;
    margin: 30px auto;
    width: 150px;
    height: 40px;
}

.send-data a{
    display: block;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    width: 150px;
    height: 40px;
    margin: auto;
}

.add_client, .edit_add_dc, .edit_add_jcb{
    background-color: dodgerblue;
    color: #fff;
    width: 300px;
    height: 60px;
    font-size: 2rem;
    margin-bottom: 3vw;
}

.add-received{
    background-color: yellow;
    color: blue;
    display: block;
    margin-bottom: 3vw;
    width: 300px;
    height: 60px;
    font-size: 2rem;
}

.add-sent{
    background-color: yellow;
    color: red;
    display: block;
    margin-bottom: 3vw;
    width: 300px;
    height: 60px;
    font-size: 2rem;
}

#received_h2{
    background-color: yellow;
}

.received_blue{
    color: blue;
}

#sent_h2{
    background-color: yellow;
}

.sent_red{
    color:red;
}

.item_name{
    font-weight: bold;
}

.number_cell{
    text-align: right;
}

.sum{
    font-weight: bold;
}

.edit_section{
    border: .1vw solid #e4e4e4;
    padding: 3vw;
    border-radius: 2vw;
    -webkit-border-radius: 2vw;
    margin-bottom: 3vw;
}

.each_section{
    border: .1vw solid #e4e4e4;
    padding: 2.5vw;
    border-radius: 1.5vw;
    -webkit-border-radius: 1.5vw;
    margin-bottom: 1.5vw;
    position: relative;
}

form.ui.form button[type=submit]{
    background-color: #bbb;
    color: #fff;
    display: block;
    width: 470px;
    margin: 10px auto;
    height: 50px;
    font-size: 3rem;
    text-align: center;
    padding: 0;
}

.field{
    position: relative;
}

.delete_dc, .delete_jcb, .delete_client, .delete_received, .delete_sent{
    position: absolute;
    top: 0;
    right: 0;
}

.each-client{
    position: relative;
}

.delete_card{
    position: absolute;
    top:  0;
    right: 0;
}

.back_next_container{
    position: relative;
    width: 100%;
}

.back_button{
    position: absolute;
    left: 0;
}

.next_button{
    position: absolute;
    right: 0;
}

@media only screen and (max-width: 500px) {
    .edit_section, .each_section{
        border: 1px solid #e4e4e4;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    h1.ui.header{
        font-size: 5rem;
    }

    form.ui.form .field label{
        font-size: 3rem;
        line-height: 3rem;
        margin: 1rem 0;
    }

    form.ui.form .field label[for=sent_to]{
        font-size: 2rem;
        line-height: 2rem;
    }

    form.ui.form .field label[for=sent-to]{
        font-size: 3rem;
        line-height: 3rem;
    }

    form.ui.form .field input{
        font-size: 3rem;
    }

    form.ui.form{
        width: 90%;
    }

    h2.ui.header{
        font-size: 3rem;
        line-height: 3rem;
        
    }

    .ui.header:first-child{
        margin-top: 40px;
    }

    h3.ui.header{
        font-size: 2rem;
        line-height: 2rem;
    }

    
    
}

@media only screen and (max-device-width: 480px) {
    
    /* h1.ui.header{
        font-size: 4rem;
        margin-bottom: 100px;
    }

    h2.ui.header{
        font-size: 3rem;
        margin-bottom: 50px;
    }

    .q-container, .q-container-add{
        width: 90%;
        margin: auto;
    }*/

    form.ui.form{
        width: 90%;
    }

    /*.ui.form .field>label{
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 50px;
    }

    input#date, input#name,
    input#change, input#earning,
    input#received_from, input#total_received,
    input#content_received, input#sent_to,
    input#total_sent, input#content_sent,
    input#next_day_change, input#next_day_deposit,
    input#prem_count, input#prem_total,
    input#for_selling_count, input#for_selling_total,
    input#thousand_count, input#five_count,
    input#two_count, input#dc_how_much,
    input#jcb_how_much, input#paypay_count,
    input#paypay_total, input#nanaco_count,
    input#nanaco_total, input#edy_count,
    input#edy_total, input#suica_count,
    input#suica_total, input#client_name,
    input#urikake_total{
        font-size: 3rem;
    }

    .ui.form input[type=text], .ui.form input[type=number], .ui.form input[type=password]{
        font-size: 3rem;
    }

    div.submit-container{
        margin: 100px auto 200px;
    }

    button.submit-btn{
        width: 500px;
        height: 70px;
        font-size: 50px;
    }


    .add_button{
        width: 60px;
        height: 60px;
    }

    .remove_field, .remove_dc, .remove_jcb{
        width: 40px;
        height: 40px;
    }

    tr{
        height: 60px;
    }

    td{
        font-size: 25px;
    }

    td.table-cell-no-border{
        font-size: 18px;
    }

    #send-btn{
      width: 500px;
      height: 100px;
      font-size: 3rem;
    }

    #edit-btn{
      width: 200px;
      height: 60px;
      font-size: 2rem;
    }

    #edit-section-btn{
      width: 500px;
      height: 100px;
      font-size: 3rem;
    }

    .add-received, .add-sent, .add_client, .edit_add_dc, .edit_add_jcb{
        display: inline-block;
        width: 400px;
        height: 80px;
        font-size: 50px;
    }

    button.ui.button {
        display: inline-block;
        width: 400px;
        height: 100px;
        font-size: 40px;
    }


    #close_edit img{
        position: absolute;
        top: 0;
        left: 0;
    } */

}
